.App {
  text-align: center;
  color:rgb(216, 4, 4);
  position: absolute;
  top: 120px;
  left: 20px;
  font-weight: 600;
  margin: 20px 20px 20px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:ivory;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.AppHeaderImage{
  object-fit: cover;
  object-position: 0% 80%;
  width:100%;
   height:200px ;
}

.AppBody {
  font-family: verdana;
  background-color:ivory;
  padding-top:20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
